
	body {
		color:#34086C;
		font-family:Lucida Console,monospace;
		font-size:90%;
		margin:0;
	}
	header { 
		background-color:#42428a;
		box-shadow: .3em .3em .3em rgba(0, 0, 0, 0.5);
		height:11em;
		position:fixed;
		top:0;
		width:100%;
		z-index:10;
		text-align:center;
	}
	main {
		background-color:#666BAA;
		box-shadow:.2em 0; /*Right, bottom*/
		margin:0 0 0 14.5em;
		position:relative;/*along with position:absolute; in nav, this makes the nav bar show underneath.*/
		}
	section {
		float:left;
		padding:1em 0 .7em 2em; /*Order is clockwise; ie Top, Right, Bottom, Left*/
		width:50%;}
	aside {
		float:right;
		padding:1em 0 0 0;
		width:45%;}
	h1 {
		color:#20dfdf;
		padding-top:.8em;
		margin:0;
		font-size:4em;}
	h2 {
		padding:0;
		margin:0;}
	h3 {
		padding:.7em;
		margin: 0 0 0 0;
		color:#0066cc;}
	p{
		text-align:center;
		padding-bottom:.1em;
	}
	table, th ,td{
		border:1px ridge #34086C;
		border-collapse:collapse;
	}
	table{
		margin-left:.4em;
		margin-top:.5em;
		margin-bottom:1em;
	}
	th, td {
		text-align:left;
		padding:.4em 1em .1em .4em;
	}
	nav li{
		list-style-type:none;
		padding:.5em 1em .5em 1em;
		margin:1em 0 1em 0;
		}
	nav ul{
		overflow:hidden;
		float:right;
		padding-left:.5em;}
	nav {
		position:fixed;
		float:left;
		text-align:center;
		font-weight:bold;
		font-size:1.5em;
		padding-right:.36em;
		padding-left:2.5em;
		position:abosolute;
		}
	nav a {
		text-decoration:none;
		color:blue;
		transition: color .2s;
		border:none;}
	nav li:hover{color:#F00797;}
	footer {
		box-shadow:.2em .2em;
		background-color:#42428a;
		color:black;
		font-size:.60em;
		text-align:center;
		padding:1em 0 1em 0;
		font-style:italic;
		width:100%;
		clear:both;}
	video {
		padding:2em 0 0 2em; 
		width:80%;}
	img {
		height:auto;
		max-width:100;
	}
	audio {
		padding-bottom:1em;
		margin:0;
		width:100%;}
	input{
		border:none;
		border-color:transparent;
	}
	input:focus {
		outline:none;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0; /* <-- Apparently some margins are still there even though the spinner is hidden */}
	input, textarea {
		background-color : #666BAA; }
/*Id attributes; Referred to as #'attributeID'*/
	#wrapper {
		min-width:900px;
		/*max-width: 1900px;
		this is for conventional purposes, but if we're looking to use a seperate CSS for
		larger resolutions, this may be nessasary. For now, exclude from this element.*/
		margin-top: 11em;
		margin-right:auto;
		margin-left:auto;
		width:100%;
	}
	#background{
		position:fixed;
		top:0;
		left:0;
		min-width:100%;
		min-height:100%;
		z-index:-5;
		padding-left:0;}
	#header
	{
		padding-top:.25em;
	}
	#logo{
		margin-right:1%;
		width:1.5em;
		height:1.5em;}
	#buttonLI{
		margin-left:3.6em;
	}
	#smallLI{
		margin-left:2.4em;
	}
	#mediumLI{
		margin-left:1.2em;
	}
	#aboutme{
		margin-top:1em;

	}
	#navhome {
		padding-right:3em;
		padding-left:0;
		margin-left:.4em;
	}
	#imgCredits{
		width:20em;
		max-width:100%;
		height:20em;
		max-width:100%;
		float:left;
		margin:0 2em 5em 0;
	}
	#imgCaption{
	}
	/*fr is 1 fraction of the available space on the section*/
	#videoGameGif{
		margin-left:5%;
		margin-right:5%;
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: .4em;
		/*background-color: #6A086D;*/
	}
	#skills{
		display: flow-root;
		height: 15%;
		margin:0 2.5em 2em 2.5em;
	}
	#skillsBackground{
		z-index:1;
		width:100%;
		transform: skew(25deg);
		background: #6A086D;
		position:absolute;
		background-image:url(resources/parallelogrameffect.gif);
		-webkit-mask-image: linear-gradient(to left, transparent 1%, black 100%);
		mask-image: linear-gradient(to left, transparent 1%, black 100%);

	}
	#expExamples{
		display:inline-block;

	}
	#projectDescs{
		position:absolute;
		width:100%;
		height:100%;
		display:contents;
	}
	#child1{
		opacity:.5;
	}
	#child2{
		opacity:1;
	}
	#child3{
		opacity:.5;
		
	}
	#child4{
		opacity:0;
	}
/*Classes; Referred to as .'classname'*/
	.skillIcon{
		width:9%;
		float:left;
		position:relative;
		animation: MoveUpDown 3s linear infinite;
		margin: 1%; /* (100-32*3)/2 */
		transition:all .5s ease-in;
	}
	.skillIcon img{
		width:9%;
		height:36%;
	}
	.skillIcon:hover {
		/*z-index:2;*/
		transform: scale(1.4);
		/*border-radius:50%;*/
		/*box-shadow:inset 5px 10px #F00797;*/
	}
/*
	.skillsText {
		color: #fff;
		opacity:0;
		transition-duration: 0.5s;
		transition-delay: 0s; 
	}
	.skillsText:after {
		content: 'My most comfortable language, and most used.';
	}*/

	/* Re-order items into rows */
	.skillIcon:nth-child(3n+1) { order: 1; }
	.skillIcon:nth-child(3n+2) { order: 2; }
	.skillIcon:nth-child(3n)   { order: 3; }

	.expButton{
		float:left;
		position:relative;
		height:2%;
		width:5%
	}

	.expDesc{
		float:left;
	}

	.bubble{
		float:left;
		width:50%;
		-webkit-mask-image: radial-gradient(ellipse 80% 90% at 48% 50%, black 40%, transparent 50%);
		mask-image: radial-gradient(ellipse 80% 90% at 48% 50%, black 40%, transparent 50%);
	}

	/* Force new columns */
	#skills::before,
	#skills::after {
		content: "";
		flex-basis: 100%;
		width: 0%;
		order: 2;
	}

	/*@keyframes MoveUpDown {
		0%, 100% {
		bottom: 0;
		}
		50% {
		bottom: 15%;
		}
	}*/
	.rightSkills{
		/* skew back by negative of parent’s skew so contents is upright */
		transform: skewX(20deg);
		margin-left: 3em; /* give margin to push content away from left slanted edge */
		background: url(resources/PEB_Rendering_Expirement.gif) no-repeat;
		pointer-events: auto;    /* allow pointer events for the box */
		width:100%;
	}
	.leftSkills{
		position: absolute;  /* remove from flow so sunset is placed on top */
		height:50%;
		background:  url(resources/PEB_Rendering_Expirement_2.gif) no-repeat;
		/*box-shadow: 0 0 10px rgba(0, 0, 0, .7);*/
		width:90%;
	}
	.slider {
		/* set initial width */
		width: 50%;

		/* hide the content that overflows (to allow second box to show through) */
		overflow: hidden;
		display: inline-block;

		/* skew container so that it has angled edge, and set up transition */
		transform: skewX(-20deg);
		transition: width 1.2s ease-in-out;
		/* give negative margin to remove gap caused by left hand skew */
		margin-left: -7%;
			
		/* hide pointer events for unseen content */
		pointer-events: none;
	}
	/* make first box bigger on hover, and smaller when hover second box */
	.slider:hover {
		width: 760px;
	}
			
	.leftSkills:hover + .slider { 
		width: 250px;
	}
	.box { 
		height: 10em;
		border-radius: .5em;
	}
	.column{
		float: left;
		width:32%;
	}
	.vgGif{
		/*-webkit-mask-image:radial-gradient(parallelogrameffect at 50% 60%, black 50%, rgba(0, 0, 0, 0.6) 50%);*/
 		/*mask-image: radial-gradient(circle at 50% 60%, black 50%, rgba(0, 0, 0, 0.6) 50%);*/
 		transform: translate(-15%) skewX(-20deg);
	}
	.vgGifDiv img{
		width:140%;
		height:100%;
	}
	.vgGifDiv{
		overflow:hidden;
		transform: skewX(20deg);
	}
	.box {
		padding:0 1em 1em 1em;
	}
	.twentyper {
		width:20%;
	}
	.characterdesc {
		padding:0 1em 0 1em;
	}
	.parallelogram{
		transform: skew(-25deg);
		background: #6A086D;
		background-image:url(resources/parallelogrameffect.gif);
	}
	.sectionHeader {
		padding-top:1em;
		width:20%;
	}
	.writing{
		margin-left:2em;
	}
	.highlight {
		background-color:#6A086D;
	}
	.highlight:hover:after , .highlight:hover:before{
		width:100%;
		left:0;
	}
	.highlight:after, .highlight:before{
		content: ''; 
		background-color: #F00797;
		position: absolute;
		top: calc(100%);
		width: 0;
		right: 0;
		height: .15em;
	}
	.highlight:after{
			transition: width .4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
	}
	.highlight:before{
			transition: width .6s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
	}
	.highlight:active{
		color:#b83d89;
	}
	.hightlight:visited{
		color:blue;
	}
/* Tab ----------- */
/*@media only screen and (max-width : 991px) and (min-width : 768px) {
    .ur_class:nth-child(4) {
        display: none;
    }
}*/
/*Mobile Screens (980px or less)*/
@media screen and (max-width: 980px) {
    #wrapper{
		width:100%;
        display: contents;
		margin:0;
		padding:0;
    }
	#profilePicture{
		display:none;
	}
	#background{
		display:none;
	}
	#characterbs{
		clear:left;
		clear:right;
		margin:0;
	}
	#largeLI{
		margin: 0 0 0 -1em;
	}
	#mediumLI{
		margin:0 0 0 -1em;
	}
	#smallLI{
		margin:0;
	}
	#navhome{
		padding:0 0 .2em 0;
		width:100%;
		margin:0;
		margin-top:2.9em;
		z-index: -1;
	}
	.twentyper{
		width:30%;
		clear:left;
		clear:right;
		margin-right:0;
	}
	nav .parallelogram{
		transform: skew(-25deg);
		background-color:transparent;
	}
	nav {
			background: #6A086D;
			background-image:url(resources/parallelogrameffect.gif);
	}
	body {
		color:#34086C;
		font-family:Lucida Console,monospace;
		font-size:90%;
		margin:0;
		width:100%;}
	header{ 
		background-color:#42428a;
		box-shadow: .3em .3em .3em rgba(0, 0, 0, 0.5);
		height:9em;
		position:fixed;
		top:0;
		width:100%;
		z-index:10;
		text-align:center;
	}
	h1{
		color:#20dfdf;
		padding-top:.4em;
		margin:0;
		font-size:2.2em;
		z-index: 9999;
	}
	h3{

	}
	main {
		margin:0;
		margin-top:9em;
		background-color:#666BAA;
		}
	nav{
		margin:3em 2em 0 2em;
		top:0;
		z-index:11;
		position:fixed;
		height:3em;
		display:inline;
		list-style:none;
		text-align:center;
		font-weight:bold;
		font-size:1.5em;
		position:fixed;
	}
	nav ul, nav li{	
		clear:none;
		float:top;
		display:inline-block;
	}
	nav ul{
		padding-left:0;
		float:none;
	}
	nav li{
		font-size:.76em;
		padding:1em 1em 1em 1em;
	}
	nav li:hover{color:#F00797;}
	nav a {
		text-decoration:none;
		color:blue;
		transition: color .2s;
		border:none;
	}
}
 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

 /* MODAL THINGS (background) */
 .modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  } 